<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KFreonLibME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>  
    <userSettings>
        <KFreonLibME.Properties.Settings>
            <setting name="ME1BIOGame" serializeAs="String">
                <value />
            </setting>
            <setting name="ME1DLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME1CookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME1ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2BIOGame" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2DLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2CookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME2ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3BIOGame" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3DLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3CookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ME3ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NumThreads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TexplorerGameVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TPFToolsGameVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DLCExtractionYear" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DLCExtractionMonth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </KFreonLibME.Properties.Settings>
    </userSettings>
</configuration>